<!DOCTYPE html>
<html lang="en">
  <%- include('partial/head') %>
  <body>
    <%- include('partial/navbar') %>
    <h1 class="text-center">Hello, world!</h1>

    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(item => { %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.nama %></td>
            <td><%= item.hobby %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
